# Data cleaning

This jupyter notebook contains the data cleaning process (NaN handling, outliers, data types...)

In [1]:
import pandas as pd
import pickle

In [2]:
# Data importation
df = pd.read_csv("../data/data-set1.txt", sep=";")

/var/folders/vm/277zr2vx0wv9k3k3scsf5mh00000gn/T/ipykernel_20639/2016804019.py:2: DtypeWarning: Columns (1,2,5,6,7,8,9,15,16,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/data-set1.txt", sep=";")

In [3]:
df.head(100)

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,...,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure
0,A013010004908126703060931,78643044,0,20,2017-02-01 07:32:14,1,0,0,0,551,...,"37,186667890919111","52,076033757361408",0,1,4,4,4,20,0,27134
1,A013011306908024927155000,78643045,0,20,2017-02-01 07:43:37,1,0,0,0,551,...,"48,844716275908937","52,076033757361408",1,2,"1,7976851851851852",4,4,"28,609999999999999","8,6099999999999994",27817
2,A013010002908283134592527,78643046,0,"57,640000000000001",2017-02-01 07:47:38,1,0,0,0,549,...,"73,118279569892479","52,076033757361408",0,1,4,4,4,"57,640000000000001",0,28058
3,A011010002908105209831316,78643047,0,"54,289999999999999",2017-02-01 07:48:48,0,1,1,1,267,...,"110,05692599620494","53,554233554497365",0,1,4,4,4,"54,289999999999999",0,28128
4,A013010041908000125652029,78643048,0,"26,899999999999999",2017-02-01 08:13:27,1,0,0,0,549,...,"45,36831264567185","52,076033757361408",1,1,"1,9971064814814814",4,4,"59,149999999999999","32,25",29607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,A013010003908124451578939,78643139,0,"12,44",2017-02-01 08:45:43,1,0,0,0,548,...,"61,233703933630565","52,076033757361408",0,1,4,4,4,"12,44",0,31543
96,A042013907908010333682006,78643140,0,"32,020000000000003",2017-02-01 08:45:45,1,0,0,0,496,...,"34,335780251006391","37,586887496781948",0,1,4,4,4,"32,020000000000003",0,31545
97,A033010004908033100181157,78643141,0,40,2017-02-01 08:45:53,1,0,0,0,549,...,"16,513123587693379","34,252259592896053",0,1,4,4,4,40,0,31553
98,A069010041908010141710738,78643142,0,"7,9299999999999997",2017-02-01 08:45:54,1,0,0,0,538,...,"38,992084019123759","38,649832517392426",0,1,4,4,4,"7,9299999999999997",0,31554
99,A063010041908000605651224,78643143,0,"11,029999999999999",2017-02-01 08:46:07,1,0,0,0,541,...,"34,257134048165533","39,692085638681739",0,1,4,4,4,"11,029999999999999",0,31567

# Checking Columns

## Global checking

In [4]:
# Checking size
df.shape

(4646774, 23)

In [5]:
# Checkging null values
df.apply(lambda x: x.isna().sum())

ZIBZIN                      0
IDAvisAutorisationCheque    0
FlagImpaye                  0
Montant                     0
DateTransaction             0
CodeDecision                0
VerifianceCPT1              0
VerifianceCPT2              0
VerifianceCPT3              0
D2CB                        0
ScoringFP1                  0
ScoringFP2                  0
ScoringFP3                  0
TauxImpNb_RB                0
TauxImpNB_CPM               0
EcartNumCheq                0
NbrMagasin3J                0
DiffDateTr1                 0
DiffDateTr2                 0
DiffDateTr3                 0
CA3TRetMtt                  0
CA3TR                       0
Heure                       0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4646774 entries, 0 to 4646773
Data columns (total 23 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ZIBZIN                    object
 1   IDAvisAutorisationCheque  object
 2   FlagImpaye                object
 3   Montant                   object
 4   DateTransaction           object
 5   CodeDecision              object
 6   VerifianceCPT1            object
 7   VerifianceCPT2            object
 8   VerifianceCPT3            object
 9   D2CB                      object
 10  ScoringFP1                object
 11  ScoringFP2                object
 12  ScoringFP3                object
 13  TauxImpNb_RB              object
 14  TauxImpNB_CPM             object
 15  EcartNumCheq              object
 16  NbrMagasin3J              object
 17  DiffDateTr1               object
 18  DiffDateTr2               object
 19  DiffDateTr3               object
 20  CA3TRetMtt                object
 21  CA3TR                     object
 22  Heure                     object
dtypes: object(23)
memory usage: 815.4+ MB

## IDAvisAutorisationCheque
->  identifiant de la transaction en cours

In [7]:
# Non numerical value detection
df[df["IDAvisAutorisationCheque"].str.isalpha().fillna(False)]

/var/folders/vm/277zr2vx0wv9k3k3scsf5mh00000gn/T/ipykernel_20639/3520411033.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[df["IDAvisAutorisationCheque"].str.isalpha().fillna(False)]

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,...,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure
1956360,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,...,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure

In [8]:
# Get rid of the non numerical values (line containing duplicated headers)
df_cleaned = df[~df["IDAvisAutorisationCheque"].str.isalpha().fillna(False)]
# Converting to string
df_cleaned["IDAvisAutorisationCheque"] = df_cleaned["IDAvisAutorisationCheque"].astype(
    str
)

/var/folders/vm/277zr2vx0wv9k3k3scsf5mh00000gn/T/ipykernel_20639/1353493674.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cleaned = df[~df["IDAvisAutorisationCheque"].str.isalpha().fillna(False)]
/var/folders/vm/277zr2vx0wv9k3k3scsf5mh00000gn/T/ipykernel_20639/1353493674.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["IDAvisAutorisationCheque"] = df_cleaned["IDAvisAutorisationCheque"].astype(

## FlagImpaye
-> acception (0) ou refus de la transaction (1)

In [9]:
df_cleaned["FlagImpaye"].unique()

array([0, 1, '0', '1'], dtype=object)

In [10]:
# transformation en flag numerique
df_cleaned["FlagImpaye"] = df_cleaned["FlagImpaye"].astype(int)

/var/folders/vm/277zr2vx0wv9k3k3scsf5mh00000gn/T/ipykernel_20639/3674436950.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["FlagImpaye"] = df_cleaned["FlagImpaye"].astype(int)

## Montant
-> montant de la transaction

In [11]:
# checking for non numerical values
df_cleaned[df_cleaned["Montant"].str.isalpha().fillna(False)]

Empty DataFrame
Columns: [ZIBZIN, IDAvisAutorisationCheque, FlagImpaye, Montant, DateTransaction, CodeDecision, VerifianceCPT1, VerifianceCPT2, VerifianceCPT3, D2CB, ScoringFP1, ScoringFP2, ScoringFP3, TauxImpNb_RB, TauxImpNB_CPM, EcartNumCheq, NbrMagasin3J, DiffDateTr1, DiffDateTr2, DiffDateTr3, CA3TRetMtt, CA3TR, Heure]
Index: []

[0 rows x 23 columns]

In [12]:
# Replacing the "," character and Rounding to 2 decimals
df_cleaned["Montant"] = (
    df_cleaned["Montant"].str.replace(",", ".").astype(float).round(2)
)

/var/folders/vm/277zr2vx0wv9k3k3scsf5mh00000gn/T/ipykernel_20639/510726102.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Montant"] = (

## DateTransaction
-> date de la transaction

In [13]:
df_cleaned["DateTransaction"] = pd.to_datetime(
    df_cleaned["DateTransaction"], format="%Y-%m-%d %H:%M:%S"
)

/var/folders/vm/277zr2vx0wv9k3k3scsf5mh00000gn/T/ipykernel_20639/2651770865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["DateTransaction"] = pd.to_datetime(

## Code decision
-> il s’agit d’une variable qui peut prendre ici 4 valeurs:  
- 0 : la transaction a été acceptée par le magasin
- 1 : la transaction et donc le client fait partie d’une liste blanche (bons payeurs).
Vous n’en rencontrerez pas dans cette base de données
- 2 : le client fait d’une partie d’une liste noire, son historique indique cet un
mauvais payer (des impayés en cours ou des incidents bancaires en cours),
sa transaction est alors automatiquement refusée
- 3 : client ayant était arrêté par le système par le passé pour une raison plus ou
moins fondée

In [14]:
# Checking unique values
print("Na values in 'CodeDecision':", df_cleaned["CodeDecision"].isna().sum())

df_cleaned["CodeDecision"].value_counts()

Na values in 'CodeDecision': 0

CodeDecision
0    3483828
1    1107925
2      19469
0      18958
1      13701
3       2783
2         93
3         15
4          1
Name: count, dtype: int64

In [15]:
# Get rid of line containing Na Value and code 4 which is incorrectly flagged
df_cleaned = df_cleaned[~df_cleaned["CodeDecision"].isin([4])]
df_cleaned = df_cleaned.dropna(subset=["CodeDecision"])

# Transform the code decision into integers
df_cleaned["CodeDecision"] = df_cleaned["CodeDecision"].astype(int)

In [16]:
# Rechecking
print("Na values in 'CodeDecision':", df_cleaned["CodeDecision"].isna().sum())

df_cleaned["CodeDecision"].value_counts()

Na values in 'CodeDecision': 0

CodeDecision
0    3502786
1    1121626
2      19562
3       2798
Name: count, dtype: int64

## Verifiance checking  
nombre de transactions effectuées par le même identifiant bancaire :  

• VérifianceCPT1 : au cours du même jour  
• VérifianceCPT2 : au cours des trois derniers jours  
• VérifianceCPT3 : au cours des sept derniers jours

In [17]:
# list of concerned columns
cols_verifiance = ["VerifianceCPT1", "VerifianceCPT2", "VerifianceCPT3"]

# Checking na values
df_cleaned[cols_verifiance].isna().sum()

VerifianceCPT1    0
VerifianceCPT2    0
VerifianceCPT3    0
dtype: int64

In [18]:
# Checking to invalid non numerical values.
df_cleaned[cols_verifiance].apply(lambda col: col.str.isalpha().sum())

VerifianceCPT1    0
VerifianceCPT2    0
VerifianceCPT3    0
dtype: int64

In [19]:
# transformation of the columns into integers
for col in cols_verifiance:
    df_cleaned[col] = df_cleaned[col].astype(int)

In [20]:
# Checking for anomalous values
df_cleaned[df_cleaned["VerifianceCPT1"] > df_cleaned["VerifianceCPT2"]]

Empty DataFrame
Columns: [ZIBZIN, IDAvisAutorisationCheque, FlagImpaye, Montant, DateTransaction, CodeDecision, VerifianceCPT1, VerifianceCPT2, VerifianceCPT3, D2CB, ScoringFP1, ScoringFP2, ScoringFP3, TauxImpNb_RB, TauxImpNB_CPM, EcartNumCheq, NbrMagasin3J, DiffDateTr1, DiffDateTr2, DiffDateTr3, CA3TRetMtt, CA3TR, Heure]
Index: []

[0 rows x 23 columns]

In [21]:
df_cleaned[df_cleaned["VerifianceCPT1"] > df_cleaned["VerifianceCPT3"]]

Empty DataFrame
Columns: [ZIBZIN, IDAvisAutorisationCheque, FlagImpaye, Montant, DateTransaction, CodeDecision, VerifianceCPT1, VerifianceCPT2, VerifianceCPT3, D2CB, ScoringFP1, ScoringFP2, ScoringFP3, TauxImpNb_RB, TauxImpNB_CPM, EcartNumCheq, NbrMagasin3J, DiffDateTr1, DiffDateTr2, DiffDateTr3, CA3TRetMtt, CA3TR, Heure]
Index: []

[0 rows x 23 columns]

In [22]:
df_cleaned[df_cleaned["VerifianceCPT2"] > df_cleaned["VerifianceCPT3"]]

Empty DataFrame
Columns: [ZIBZIN, IDAvisAutorisationCheque, FlagImpaye, Montant, DateTransaction, CodeDecision, VerifianceCPT1, VerifianceCPT2, VerifianceCPT3, D2CB, ScoringFP1, ScoringFP2, ScoringFP3, TauxImpNb_RB, TauxImpNB_CPM, EcartNumCheq, NbrMagasin3J, DiffDateTr1, DiffDateTr2, DiffDateTr3, CA3TRetMtt, CA3TR, Heure]
Index: []

[0 rows x 23 columns]

In [23]:
# Checking for negative values
df_cleaned[df_cleaned[cols_verifiance].apply(lambda x: x < 0).any(axis=1)]

Empty DataFrame
Columns: [ZIBZIN, IDAvisAutorisationCheque, FlagImpaye, Montant, DateTransaction, CodeDecision, VerifianceCPT1, VerifianceCPT2, VerifianceCPT3, D2CB, ScoringFP1, ScoringFP2, ScoringFP3, TauxImpNb_RB, TauxImpNB_CPM, EcartNumCheq, NbrMagasin3J, DiffDateTr1, DiffDateTr2, DiffDateTr3, CA3TRetMtt, CA3TR, Heure]
Index: []

[0 rows x 23 columns]

##  D2CB column
-> durée de connaissance du client (par son identifiant bancaire), en jours. Pour des contraintes légales, cette durée de connaissance ne peut excéder deux ans.

In [24]:
# Checking non numerical values in D2CB
print("Non-numerical values in D2CB:", df_cleaned["D2CB"].str.isalpha().sum())

#  Checking for Na values
print("Na values in D2CB:", df_cleaned["D2CB"].isna().sum())

Non-numerical values in D2CB: 0
Na values in D2CB: 0

In [25]:
# Transforming into int
df_cleaned["D2CB"] = df_cleaned["D2CB"].astype(int)

In [26]:
# Checking anomalous values (D2CB > 2 years == 730 days or negative)
df_cleaned[(df_cleaned["D2CB"] > 730) | (df_cleaned["D2CB"] < 0)]

Empty DataFrame
Columns: [ZIBZIN, IDAvisAutorisationCheque, FlagImpaye, Montant, DateTransaction, CodeDecision, VerifianceCPT1, VerifianceCPT2, VerifianceCPT3, D2CB, ScoringFP1, ScoringFP2, ScoringFP3, TauxImpNb_RB, TauxImpNB_CPM, EcartNumCheq, NbrMagasin3J, DiffDateTr1, DiffDateTr2, DiffDateTr3, CA3TRetMtt, CA3TR, Heure]
Index: []

[0 rows x 23 columns]

## Scoring columns
-> score d’anormalité du panier relatif :  

• ScoringFP1 : à une première famille de produits (ex : denrées alimentaires)  
• ScoringFP2 : à une deuxième famille de produits (ex : électroniques)  
• ScoringFP3 : à une troisième famille de produits ( ex : autres)

In [27]:
scoring_cols = ["ScoringFP1", "ScoringFP2", "ScoringFP3"]

# Checking for Na values
df_cleaned[scoring_cols].isna().sum()

ScoringFP1    0
ScoringFP2    0
ScoringFP3    0
dtype: int64

In [28]:
# Checking for non numerical values
for col in scoring_cols:
    print(f"Non-numerical values in {col}:", df_cleaned[col].str.isalpha().sum())

Non-numerical values in ScoringFP1: 0
Non-numerical values in ScoringFP2: 0
Non-numerical values in ScoringFP3: 0

In [29]:
# Converting into float after replacing the potential "," character
for col in scoring_cols:
    df_cleaned[col] = df_cleaned[col].str.replace(",", ".").astype(float)

In [30]:
# Checking transformation
df_cleaned["ScoringFP1"]

0           0.000000
1           0.000000
2           0.000000
3           0.000000
4           0.003769
             ...
4646769     4.788000
4646770     0.060052
4646771     3.631579
4646772    28.900000
4646773     0.004578
Name: ScoringFP1, Length: 4646772, dtype: float64

## TauxImp columns
• TauxImpNb_RB : taux impayés enregistrés selon la région où a lieu la transaction  
• TauxImpNB_CPM : taux d’impayés relatif au magasin où a lieu la transaction

In [31]:
taux_cols = ["TauxImpNb_RB", "TauxImpNB_CPM"]

In [32]:
# Checking for non numerical values or Na values
for col in taux_cols:
    print(f"Non-numerical values in {col}:", df_cleaned[col].str.isalpha().sum())
    print(f"Na values in {col}:", df_cleaned[col].isna().sum())
    print("=" * 25)

Non-numerical values in TauxImpNb_RB: 0
Na values in TauxImpNb_RB: 0
=========================
Non-numerical values in TauxImpNB_CPM: 0
Na values in TauxImpNB_CPM: 0
=========================

In [33]:
# Converting intop float by replacing the "," by "."
for col in taux_cols:
    df_cleaned[col] = df_cleaned[col].str.replace(",", ".").astype(float)

In [34]:
# Checking anomalous values (< 0)
for col in taux_cols:
    anomalous_values = df_cleaned[(df_cleaned[col] < 0)][col]
    print(f"Anomalous values in {col}:", anomalous_values)

Anomalous values in TauxImpNb_RB: Series([], Name: TauxImpNb_RB, dtype: float64)
Anomalous values in TauxImpNB_CPM: Series([], Name: TauxImpNB_CPM, dtype: float64)

In [35]:
# Checking transformation
df_cleaned["TauxImpNb_RB"]

0           37.186668
1           48.844716
2           73.118280
3          110.056926
4           45.368313
              ...
4646769     42.072631
4646770    167.130919
4646771     72.607261
4646772     31.880978
4646773     45.368313
Name: TauxImpNb_RB, Length: 4646772, dtype: float64

## EcartNumCheq
-> différence entre les numéros de chèques

In [36]:
temp_is_alpha = df_cleaned["NbrMagasin3J"].str.isalpha().sum()
temp_is_na = df_cleaned["NbrMagasin3J"].isna().sum()
temp_negative = df_cleaned[df_cleaned["NbrMagasin3J"].astype(int) < 0]

print(f"Non-numerical values in NbrMagasin3J: {temp_is_alpha}")
print(f"NaN values in NbrMagasin3J: {temp_is_na}")
print(f"Negative values in NbrMagasin3J: {len(temp_negative)}")

Non-numerical values in NbrMagasin3J: 0
NaN values in NbrMagasin3J: 0
Negative values in NbrMagasin3J: 0

## NbrMagasin3J
-> nombre de magasins différents fréquentés les 3 derniers jours

In [37]:
# Converting to integer
df_cleaned["NbrMagasin3J"] = df_cleaned["NbrMagasin3J"].astype(int)

In [38]:
df.columns

Index(['ZIBZIN', 'IDAvisAutorisationCheque', 'FlagImpaye', 'Montant',
       'DateTransaction', 'CodeDecision', 'VerifianceCPT1', 'VerifianceCPT2',
       'VerifianceCPT3', 'D2CB', 'ScoringFP1', 'ScoringFP2', 'ScoringFP3',
       'TauxImpNb_RB', 'TauxImpNB_CPM', 'EcartNumCheq', 'NbrMagasin3J',
       'DiffDateTr1', 'DiffDateTr2', 'DiffDateTr3', 'CA3TRetMtt', 'CA3TR',
       'Heure'],
      dtype='object')

## DiffDateTr columns
-> écart (en jours) :  

• DiffDateTr1 : à la précédente transaction (n-1)  
• DiffDateTr2 : à l’avant dernière transaction (n-2)  
• DiffDateTr3 : à l’antépénultième transaction (n-3)

In [39]:
diff_cols = ["DiffDateTr1", "DiffDateTr2", "DiffDateTr3"]

In [40]:
# Checking for non numerical values, na values, and values < 0
for col in diff_cols:
    print(f"Non-numerical values in {col}:", df_cleaned[col].str.isalpha().sum())
    print(f"Na values in {col}:", df_cleaned[col].isna().sum())

Non-numerical values in DiffDateTr1: 0
Na values in DiffDateTr1: 0
Non-numerical values in DiffDateTr2: 0
Na values in DiffDateTr2: 0
Non-numerical values in DiffDateTr3: 0
Na values in DiffDateTr3: 0

In [41]:
# Converting into float and replacing "," by "."
for col in diff_cols:
    df_cleaned[col] = df_cleaned[col].str.replace(",", ".").astype(float)
    print(f"Anomalous values in {col}:", anomalous_values)

Anomalous values in DiffDateTr1: Series([], Name: TauxImpNB_CPM, dtype: float64)
Anomalous values in DiffDateTr2: Series([], Name: TauxImpNB_CPM, dtype: float64)
Anomalous values in DiffDateTr3: Series([], Name: TauxImpNB_CPM, dtype: float64)

In [42]:
df_cleaned["DiffDateTr1"]

0          4.000000
1          1.797685
2          4.000000
3          4.000000
4          1.997106
             ...
4646769    5.000000
4646770    1.035949
4646771    5.000000
4646772    5.000000
4646773    4.000000
Name: DiffDateTr1, Length: 4646772, dtype: float64

## CA3 columns

• CA3TR : montant des trois dernières transactions  
• CA3TRetMtt : montant des dernières transactions + montant de la transaction en cours

In [43]:
ca_cols = ["CA3TRetMtt", "CA3TR"]

In [44]:
# checking for non numerical values and Na values
for col in ca_cols:
    print(f"Non-numerical values in {col}:", df_cleaned[col].str.isalpha().sum())
    print(f"Na values in {col}:", df_cleaned[col].isna().sum())

# Converting into float after replacing "," by "." and rounding to 2 decimals
for col in ca_cols:
    df_cleaned[col] = df_cleaned[col].str.replace(",", ".").astype(float).round(2)

Non-numerical values in CA3TRetMtt: 0
Na values in CA3TRetMtt: 0
Non-numerical values in CA3TR: 0
Na values in CA3TR: 0

In [45]:
df_cleaned["CA3TRetMtt"]

0           20.00
1           28.61
2           57.64
3           54.29
4           59.15
            ...
4646769     23.94
4646770    262.45
4646771     69.00
4646772     57.80
4646773     42.21
Name: CA3TRetMtt, Length: 4646772, dtype: float64

## Heure column
-> heure de la transaction

Format : seconds since midnight.

In [46]:
# Checking for non numerical values and NaN
print("Non-numerical values in 'Heure':", df_cleaned["Heure"].str.isalpha().sum())
print("Na values in 'Heure':", df_cleaned["Heure"].isna().sum())

# Converting to float after replacing "," by "."
df_cleaned["Heure"] = df_cleaned["Heure"].astype(int)

# Checking for negatives values
print("Anomalous values in 'Heure':", (df_cleaned["Heure"] < 0).sum())

Non-numerical values in 'Heure': 0
Na values in 'Heure': 0
Anomalous values in 'Heure': 0

## FlagImpaye
-> acception (0) ou refus de la transaction (1)

In [47]:
df_cleaned["FlagImpaye"].value_counts()

FlagImpaye
0    4616777
1      29995
Name: count, dtype: int64

In [48]:
# Converting to numeric
df_cleaned["FlagImpaye"] = df_cleaned["FlagImpaye"].astype(int)

## Addition of Weekdays

In [49]:
## Addition of weekdays
df_cleaned["JourSemaine"] = df_cleaned["DateTransaction"].dt.weekday

## Exportation

In [50]:
# "csv" | "pickle" | "parquet"
export_choice = "pickle"

In [51]:
if export_choice == "csv":
    # Exporting to csv
    df_cleaned.to_csv("../data/cleaned_data.csv", index=False)
elif export_choice == "parquet":
    # Exporting to parquet
    df_cleaned.to_parquet("../data/cleaned_data.parquet", index=False)

else:
    # Exporting to pickle
    with open("../data/cleaned_data.pkl", "wb") as f:
        pickle.dump(df_cleaned, f)