# Using undersampling to reequilibrate the classes, and the reiterate a selection of stacking model on the rebalanced dataset.

**Strategy:**
- For each validation set / For each model:
    - Undersample the majority category
    - Train select the best hyperparameters for various models
    - Stack the models
    - Apply on the full test dataset

**To be tried**
- Tomek link (When classes overlap)
- NearMiss (When decision boundary matters)

## Library loading

In [17]:
# path managememnt
import os

# print path
print("Current working directory:", os.getcwd())
# change path
os.chdir("C:/Users/axel-/Documents/Coding/SISE_FraudAnalysis")
os.getcwd()

Current working directory: c:\Users\axel-\Documents\Coding

'C:\\Users\\axel-\\Documents\\Coding\\SISE_FraudAnalysis'

In [ ]:
from imblearn.under_sampling import RandomUnderSampler
import pickle\

## Data loading

In [21]:
with open('data/cleaned_data.pkl', 'rb') as f:
    df = pickle.load(f)

In [20]:
df.head()

                      ZIBZIN IDAvisAutorisationCheque  ...  Heure  JourSemaine
0  A013010004908126703060931                 78643044  ...  27134            2
1  A013011306908024927155000                 78643045  ...  27817            2
2  A013010002908283134592527                 78643046  ...  28058            2
3  A011010002908105209831316                 78643047  ...  28128            2
4  A013010041908000125652029                 78643048  ...  29607            2

[5 rows x 24 columns]

In [ ]:
to_discard = ['ZIBZIN', 'IDAvisAutorisationCheque', 'DateTransaction','CodeDecision']

# Discard unneeded columns
X = df.drop(columns=to_discard + ['Fraud'])
y = df['Fraud']

Exemple of pipeline
```python
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from imblearn.pipeline import Pipeline
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import cross_val_predict
import numpy as np

# Base model 1: full dataset
model_full = RandomForestClassifier(random_state=42)

# Base model 2: undersampled
model_under = Pipeline([
    ('rus', RandomUnderSampler(random_state=42)),
    ('clf', GradientBoostingClassifier())
])

# Get OOF predictions
oof_full = cross_val_predict(model_full, X_train, y_train, cv=5, method='predict_proba')[:,1]
oof_under = cross_val_predict(model_under, X_train, y_train, cv=5, method='predict_proba')[:,1]

# Stack predictions as features for meta-model
X_meta = np.column_stack([oof_full, oof_under])

meta_model = LogisticRegression()
meta_model.fit(X_meta, y_train)

# Test predictions
pred_full_test = model_full.fit(X_train, y_train).predict_proba(X_test)[:,1]
pred_under_test = model_under.fit(X_train, y_train).predict_proba(X_test)[:,1]
X_meta_test = np.column_stack([pred_full_test, pred_under_test])
final_pred = meta_model.predict(X_meta_test)
```